Repository openmultiplayer/web, changes with the owners that CODEOWNERS names for each.
All owners: @openmultiplayer/web, @iPollo, @aktah, @rsetiawan7, @se8870, @foxcovitsch, @andreieurt, @lilAmper, @Opysium, @daddyDOT, @GalardoDev, @DEntis-T, @TerzicScript, @neshallon, @XomoX, @sampben, @Woscript, @MySekwel, @YuCarl77, @Kamirai, @ImOver00, @debugitz, @Macius42

use router.asPath to get path name
  frontend/src/components/site/NavMenu.tsx
  frontend/src/pages/_app.tsx
Owners: @openmultiplayer/web

fix docs search bar dark mode
  frontend/src/components/Search.tsx
Owners: @openmultiplayer/web

fix pre, code dark mode
  frontend/src/pages/docs/[[...path]].tsx
Owners: @openmultiplayer/web

Dark Theme (#564)
  frontend/public/images/assets/roads.svg
  frontend/src/components/Search.tsx
  frontend/src/components/forum/CategoryListItem.tsx
  frontend/src/components/forum/LinkedTag.tsx
  frontend/src/components/forum/ThreadListItem.tsx
  frontend/src/components/generic/Anchor.tsx
  frontend/src/components/icons/Roads.tsx
  frontend/src/components/member/MemberLink.tsx
  frontend/src/components/site/Announcement.tsx
  frontend/src/components/site/Card.tsx
  frontend/src/components/site/Footer.tsx
  frontend/src/components/site/NavMenu.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/blog/index.tsx
  frontend/src/pages/docs/[[...path]].tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/servers/[ip].tsx
  frontend/src/styles/Card.module.css
  frontend/src/styles/theme.tsx
Owners: @openmultiplayer/web

bring admonitions back
  frontend/src/pages/docs/[[...path]].tsx
Owners: @openmultiplayer/web

Change feature image 1
  frontend/public/images/assets/f1.png
Owners: @openmultiplayer/web

Change feature image 1 (#567)
  frontend/public/images/assets/f1.png
Owners: @openmultiplayer/web

fix discussion dark mode
  frontend/src/components/forum/PostEditor.tsx
  frontend/src/components/forum/PostListItem.tsx
  frontend/src/styles/base.css
  frontend/src/styles/theme.tsx
Owners: @openmultiplayer/web

fix navbar buttons
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

fix language menu item
  frontend/src/components/site/LanguageSelect.tsx
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

cleanup docs
  docs/scripting/callbacks/OnActorStreamIn.md
  docs/scripting/callbacks/OnActorStreamOut.md
  docs/scripting/callbacks/OnClientMessage.md
  docs/scripting/callbacks/OnNPCConnect.md
  docs/scripting/callbacks/OnNPCDisconnect.md
  docs/scripting/callbacks/OnNPCEnterVehicle.md
  docs/scripting/callbacks/OnNPCExitVehicle.md
  docs/scripting/callbacks/OnNPCModeExit.md
  docs/scripting/callbacks/OnNPCModeInit.md
  docs/scripting/callbacks/OnPlayerClickMap.md
  docs/scripting/callbacks/OnPlayerDisconnect.md
  docs/scripting/callbacks/OnPlayerFinishedDownloading.md
  docs/scripting/callbacks/OnPlayerGiveDamage.md
  docs/scripting/callbacks/OnPlayerRequestSpawn.md
  docs/scripting/callbacks/OnPlayerStreamIn.md
  docs/scripting/callbacks/OnPlayerTakeDamage.md
  docs/scripting/callbacks/OnPlayerUpdate.md
  docs/scripting/callbacks/OnUnoccupiedVehicleUpdate.md
  docs/scripting/callbacks/OnVehicleStreamIn.md
  docs/scripting/callbacks/OnVehicleStreamOut.md
  docs/scripting/functions/EnableZoneNames.md
  docs/scripting/functions/GameModeExit.md
  docs/scripting/functions/GetPlayerKeys.md
  docs/scripting/functions/clamp.md
  docs/scripting/functions/floatabs.md
  docs/scripting/functions/floatcmp.md
  docs/translations/tr/scripting/callbacks/OnPlayerStreamOut
Owners: @openmultiplayer/web, @lilAmper, @Opysium

fix discussion dark mode (#573)
  frontend/src/components/forum/PostEditor.tsx
  frontend/src/components/forum/PostListItem.tsx
  frontend/src/styles/base.css
  frontend/src/styles/theme.tsx
Owners: @openmultiplayer/web

Fix codeblock text bg color for light mode
  frontend/src/pages/docs/[[...path]].tsx
Owners: @openmultiplayer/web

fix tables in docs and support dark mode
  frontend/src/pages/docs/[[...path]].tsx
  frontend/src/styles/base.css
Owners: @openmultiplayer/web

fix build error
  frontend/src/pages/docs/[[...path]].tsx
Owners: @openmultiplayer/web

Document disconnect reasons 3/4
  docs/scripting/callbacks/OnPlayerDisconnect.md
Owners: @openmultiplayer/web

Add note about reason 4 origins.
  docs/scripting/callbacks/OnPlayerDisconnect.md
Owners: @openmultiplayer/web

Remove extra content from OnPlayerKeyStateChange (bs, es, ro, tr)
  docs/translations/bs/scripting/callbacks/OnPlayerKeyStateChange.md
  docs/translations/es/scripting/callbacks/OnPlayerKeyStateChange.md
  docs/translations/ro/scripting/callbacks/OnPlayerKeyStateChange.md
  docs/translations/tr/scripting/callbacks/OnPlayerKeyStateChange
Owners: @daddyDOT, @GalardoDev, @DEntis-T, @Woscript, @andreieurt, @lilAmper, @Opysium

Update mapicons.md
  docs/scripting/resources/mapicons.md
Owners: @openmultiplayer/web

Update mapicons.md
  docs/scripting/resources/mapicons.md
Owners: @openmultiplayer/web

Improved translation.
  docs/translations/ro/client/CommonClientIssues.md
Owners: @andreieurt

Translated in Romanian.
  docs/translations/ro/server/ControllingServer.md
Owners: @andreieurt

Update docs/translations/ro/server/ControllingServer.md
  docs/translations/ro/server/ControllingServer.md
Owners: @andreieurt

Update docs/translations/ro/server/ControllingServer.md
  docs/translations/ro/server/ControllingServer.md
Owners: @andreieurt

Update docs/translations/ro/server/ControllingServer.md
  docs/translations/ro/server/ControllingServer.md
Owners: @andreieurt

update download button
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

CODEOWNERS:

*                                                                               @openmultiplayer/web
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7 @se8870 @foxcovitsch
/docs/translations/ro/                                                          @andreieurt
/docs/translations/tr/                                                          @lilAmper @Opysium
/docs/translations/bs/                                                          @daddyDOT @GalardoDev @DEntis-T
/docs/translations/sr/                                                          @TerzicScript @neshallon
/docs/translations/hr/                                                          @neshallon
/docs/translations/ph/                                                          @XomoX
/docs/translations/fr/                                                          @sampben
/docs/translations/es/                                                          @Woscript
/docs/translations/tl/                                                          @MySekwel
/docs/translations/zh-cn/                                                       @YuCarl77
/docs/translations/zh-tw/                                                       @Kamirai
/docs/translations/sl/                                                          @neshallon
/docs/translations/ar-TN/                                                       @ImOver00
/docs/translations/pl/                                                          @debugitz @Macius42
