Repository openmultiplayer/web, changes with the owners that CODEOWNERS names for each.
All owners: @openmultiplayer/web, @iPollo, @aktah, @rsetiawan7, @se8870, @foxcovitsch, @andreieurt, @lilAmper, @Opysium, @daddyDOT, @GalardoDev, @DEntis-T, @TerzicScript, @neshallon, @XomoX, @sampben, @Woscript, @MySekwel, @YuCarl77, @Kamirai, @ImOver00, @debugitz, @Macius42

Create PickupGuide.md
  docs/translations/es/tutorials/PickupGuide.md
Owners: @Woscript

Update PickupGuide.md
  docs/translations/es/tutorials/PickupGuide.md
Owners: @Woscript

finished translation
  docs/translations/es/tutorials/PickupGuide.md
Owners: @Woscript

Added indonesia language in some function
  docs/translations/id/scripting/function/ApplyAnimation.md
  docs/translations/id/scripting/function/CancelEdit.md
  docs/translations/id/scripting/function/GetPlayerMoney.md
Owners: @rsetiawan7, @se8870, @foxcovitsch

Fix Translate to Indonesian Language
  docs/translations/id/scripting/function/ApplyAnimation.md
Owners: @rsetiawan7, @se8870, @foxcovitsch

Fix translate Indonesia language GetPlayerMoney
  docs/translations/id/scripting/function/GetPlayerMoney.md
Owners: @rsetiawan7, @se8870, @foxcovitsch

Add Translate Language Indonesia
  docs/translations/id/scripting/function/CreatePickup.md
  docs/translations/id/scripting/function/CreateVehicle.md
  docs/translations/id/scripting/function/DestroyPickup.md
  docs/translations/id/scripting/function/IsPlayerInRangeOfPoint.md
Owners: @rsetiawan7, @se8870, @foxcovitsch

Update OnPlayerKeyStateChange
  docs/translations/tr/scripting/callbacks/OnPlayerKeyStateChange
Owners: @lilAmper, @Opysium

Update OnPlayerKeyStateChange.md
  docs/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @openmultiplayer/web

Update OnPlayerKeyStateChange.md
  docs/translations/bs/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @daddyDOT, @GalardoDev, @DEntis-T

Update OnPlayerKeyStateChange.md
  docs/translations/ro/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @andreieurt

Update OnPlayerKeyStateChange.md
  docs/translations/es/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @Woscript

delete #test thing
  docs/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @openmultiplayer/web

All animations documentation
  docs/scripting/resources/animations.md
Owners: @openmultiplayer/web

Some little typo correction
  docs/scripting/resources/animations.md
Owners: @openmultiplayer/web

Indentation fixes
  docs/scripting/resources/animations.md
Owners: @openmultiplayer/web

lock postgres to v13
  docker-compose.yml
Owners: @openmultiplayer/web

delete #test thing (#558)
  docs/scripting/callbacks/OnPlayerKeyStateChange.md
Owners: @openmultiplayer/web

Added indonesia language in some function (#556)
  docs/translations/id/scripting/function/ApplyAnimation.md
  docs/translations/id/scripting/function/CancelEdit.md
  docs/translations/id/scripting/function/CreatePickup.md
  docs/translations/id/scripting/function/CreateVehicle.md
  docs/translations/id/scripting/function/DestroyPickup.md
  docs/translations/id/scripting/function/GetPlayerMoney.md
  docs/translations/id/scripting/function/IsPlayerInRangeOfPoint.md
Owners: @rsetiawan7, @se8870, @foxcovitsch

fix images and update next mdx
  frontend/package.json
  frontend/src/components/templates/Image.tsx
  frontend/src/pages/docs/[[...path]].tsx
  frontend/yarn.lock
Owners: @openmultiplayer/web

build new home page
  frontend/public/images/assets/f1.png
  frontend/public/images/assets/f2.png
  frontend/public/images/assets/f3.png
  frontend/public/images/assets/f4.png
  frontend/public/images/assets/map.png
  frontend/public/images/assets/roads.svg
  frontend/src/components/site/Announcement.tsx
  frontend/src/components/site/Card.tsx
  frontend/src/components/site/Footer.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Card.module.css
  frontend/src/styles/Hero.module.css
  frontend/src/styles/globals.css
Owners: @openmultiplayer/web

build new home page (#561)
  frontend/public/images/assets/f1.png
  frontend/public/images/assets/f2.png
  frontend/public/images/assets/f3.png
  frontend/public/images/assets/f4.png
  frontend/public/images/assets/map.png
  frontend/public/images/assets/roads.svg
  frontend/src/components/site/Announcement.tsx
  frontend/src/components/site/Card.tsx
  frontend/src/components/site/Footer.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Card.module.css
  frontend/src/styles/Hero.module.css
  frontend/src/styles/globals.css
Owners: @openmultiplayer/web

add types to card
  frontend/src/components/site/Card.tsx
Owners: @openmultiplayer/web

remove next remove mdx update
  frontend/src/pages/docs/[[...path]].tsx
Owners: @openmultiplayer/web

Remove cope and seethe from prod
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Remove cope and seethe #2
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Remove cope and seethe #2 (#562)
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

fix non-boolean attribute warn
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

fix error regarding current being passed as boolean
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

move the Edmund memorial to document tsx
  frontend/next-env.d.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
Owners: @openmultiplayer/web

remove lfs
  .gitattributes
Owners: @openmultiplayer/web

Fix socials and padding
  frontend/next-env.d.ts
  frontend/public/images/assets/discord-icon.svg
  frontend/public/images/assets/f4.png
  frontend/public/images/assets/facebook.svg
  frontend/public/images/assets/instagram.svg
  frontend/public/images/assets/twitch.svg
  frontend/public/images/assets/twitter.svg
  frontend/public/images/assets/youtube.svg
  frontend/src/components/site/Card.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Card.module.css
Owners: @openmultiplayer/web

Fix socials and padding (#565)
  frontend/next-env.d.ts
  frontend/public/images/assets/discord-icon.svg
  frontend/public/images/assets/f4.png
  frontend/public/images/assets/facebook.svg
  frontend/public/images/assets/instagram.svg
  frontend/public/images/assets/twitch.svg
  frontend/public/images/assets/twitter.svg
  frontend/public/images/assets/youtube.svg
  frontend/src/components/site/Card.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Card.module.css
Owners: @openmultiplayer/web

first iteration of the dark theme
  frontend/public/images/assets/roads.svg
  frontend/src/components/icons/Roads.tsx
  frontend/src/components/site/Announcement.tsx
  frontend/src/components/site/Card.tsx
  frontend/src/components/site/Footer.tsx
  frontend/src/components/site/NavMenu.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Card.module.css
Owners: @openmultiplayer/web

fix hover color
  frontend/src/components/generic/Anchor.tsx
  frontend/src/components/site/Card.tsx
  frontend/src/styles/theme.tsx
Owners: @openmultiplayer/web

fix current nav route
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

add cursor pointer to dark toggle button
  frontend/src/components/site/NavMenu.tsx
Owners: @openmultiplayer/web

fix docs button redirect
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

fix previous commit
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

dark mode support for forum, blog and servers
  frontend/src/components/forum/CategoryListItem.tsx
  frontend/src/components/forum/LinkedTag.tsx
  frontend/src/components/forum/ThreadListItem.tsx
  frontend/src/components/member/MemberLink.tsx
  frontend/src/pages/blog/index.tsx
  frontend/src/pages/servers/[ip].tsx
Owners: @openmultiplayer/web

CODEOWNERS:

*                                                                               @openmultiplayer/web
/docs/translations/pt/                                                          @iPollo
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7 @se8870 @foxcovitsch
/docs/translations/ro/                                                          @andreieurt
/docs/translations/tr/                                                          @lilAmper @Opysium
/docs/translations/bs/                                                          @daddyDOT @GalardoDev @DEntis-T
/docs/translations/sr/                                                          @TerzicScript @neshallon
/docs/translations/hr/                                                          @neshallon
/docs/translations/ph/                                                          @XomoX
/docs/translations/fr/                                                          @sampben
/docs/translations/es/                                                          @Woscript
/docs/translations/tl/                                                          @MySekwel
/docs/translations/zh-cn/                                                       @YuCarl77
/docs/translations/zh-tw/                                                       @Kamirai
/docs/translations/sl/                                                          @neshallon
/docs/translations/ar-TN/                                                       @ImOver00
/docs/translations/pl/                                                          @debugitz @Macius42
