Repository openmultiplayer/web, changes with the owners that CODEOWNERS names for each.
All owners: @openmultiplayer/web, @iPollo, @ArTDsL, @pushline, @aktah, @rsetiawan7, @Aiuraa, @SanityZeroPercent, @andreieurt, @lilAmper, @Opysium, @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4, @TerzicScript, @XomoX, @sampben, @Woscript, @DestinyDragon49, @FreddieCrew, @MySekwel, @YuCarl77, @SumiHeart, @esh4ll0n, @ImOver00, @notxvy, @fusez

CODEOWNERS:

*                                                                               @openmultiplayer/web
/docs/translations/pt-BR/                                                       @iPollo @ArTDsL @pushline
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7 @Aiuraa @SanityZeroPercent
/docs/translations/ro/                                                          @andreieurt
/docs/translations/tr/                                                          @lilAmper @Opysium
/docs/translations/bs/                                                          @NermanLegacy @daddyDOT @GalardoDev @remy-B4
/docs/translations/sr/                                                          @TerzicScript
/docs/translations/ph/                                                          @XomoX
/docs/translations/fr/                                                          @sampben
/docs/translations/es/                                                          @Woscript @DestinyDragon49 @FreddieCrew
/docs/translations/tl/                                                          @MySekwel
/docs/translations/zh-cn/                                                       @YuCarl77
/docs/translations/zh-tw/                                                       @SumiHeart
/docs/translations/sl/                                                          @esh4ll0n
/docs/translations/ar-TN/                                                       @ImOver00
/docs/translations/pl/                                                          @notxvy
docs/translations/sv/                                                           @fusez

Update OnPlayerUpdate.md
  docs/scripting/callbacks/OnPlayerUpdate.md
Owners: @openmultiplayer/web

Fixed encoding issue
  docs/scripting/callbacks/OnPlayerUpdate.md
Owners: @openmultiplayer/web

Update docs/scripting/functions/IsPlayerInGangZone.md
  docs/scripting/functions/IsPlayerInGangZone.md
Owners: @openmultiplayer/web

Update docs/client/CommonClientIssues.md
  docs/client/CommonClientIssues.md
Owners: @openmultiplayer/web

update CommonClientIssues.md
  docs/client/CommonClientIssues.md
Owners: @openmultiplayer/web

update CommonServerIssues.md
  docs/server/CommonServerIssues.md
Owners: @openmultiplayer/web

Update bodyparts.md
  docs/translations/bs/scripting/resources/bodyparts.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Fix markdown in bodyparts.md
  docs/translations/bs/scripting/resources/bodyparts.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate some stuff from Resources tab to Bosnian (#849)
  docs/translations/bs/scripting/resources/bodyparts.md
  docs/translations/bs/scripting/resources/skins.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Add VersionWarn to the new GangZone function docs
  docs/scripting/callbacks/OnPlayerClickGangZone.md
  docs/scripting/callbacks/OnPlayerClickPlayerGangZone.md
  docs/scripting/callbacks/OnPlayerEnterGangZone.md
  docs/scripting/callbacks/OnPlayerEnterPlayerGangZone.md
  docs/scripting/callbacks/OnPlayerLeaveGangZone.md
  docs/scripting/callbacks/OnPlayerLeavePlayerGangZone.md
  docs/scripting/functions/CreatePlayerGangZone.md
  docs/scripting/functions/GangZoneGetColourForPlayer.md
  docs/scripting/functions/GangZoneGetFlashColourForPlayer.md
  docs/scripting/functions/GangZoneGetPos.md
  docs/scripting/functions/IsGangZoneFlashingForPlayer.md
  docs/scripting/functions/IsGangZoneVisibleForPlayer.md
  docs/scripting/functions/IsPlayerGangZoneFlashing.md
  docs/scripting/functions/IsPlayerGangZoneVisible.md
  docs/scripting/functions/IsPlayerInGangZone.md
  docs/scripting/functions/IsPlayerInPlayerGangZone.md
  docs/scripting/functions/IsValidGangZone.md
  docs/scripting/functions/IsValidPlayerGangZone.md
  docs/scripting/functions/PlayerGangZoneDestroy.md
  docs/scripting/functions/PlayerGangZoneFlash.md
  docs/scripting/functions/PlayerGangZoneGetColour.md
  docs/scripting/functions/PlayerGangZoneGetFlashColour.md
  docs/scripting/functions/PlayerGangZoneGetPos.md
  docs/scripting/functions/PlayerGangZoneHide.md
  docs/scripting/functions/PlayerGangZoneShow.md
  docs/scripting/functions/PlayerGangZoneStopFlash.md
  docs/scripting/functions/UseGangZoneCheck.md
  docs/scripting/functions/UsePlayerGangZoneCheck.md
Owners: @openmultiplayer/web

Add VersionWarn to the new GangZone function docs (#850)
  docs/scripting/callbacks/OnPlayerClickGangZone.md
  docs/scripting/callbacks/OnPlayerClickPlayerGangZone.md
  docs/scripting/callbacks/OnPlayerEnterGangZone.md
  docs/scripting/callbacks/OnPlayerEnterPlayerGangZone.md
  docs/scripting/callbacks/OnPlayerLeaveGangZone.md
  docs/scripting/callbacks/OnPlayerLeavePlayerGangZone.md
  docs/scripting/functions/CreatePlayerGangZone.md
  docs/scripting/functions/GangZoneGetColourForPlayer.md
  docs/scripting/functions/GangZoneGetFlashColourForPlayer.md
  docs/scripting/functions/GangZoneGetPos.md
  docs/scripting/functions/IsGangZoneFlashingForPlayer.md
  docs/scripting/functions/IsGangZoneVisibleForPlayer.md
  docs/scripting/functions/IsPlayerGangZoneFlashing.md
  docs/scripting/functions/IsPlayerGangZoneVisible.md
  docs/scripting/functions/IsPlayerInGangZone.md
  docs/scripting/functions/IsPlayerInPlayerGangZone.md
  docs/scripting/functions/IsValidGangZone.md
  docs/scripting/functions/IsValidPlayerGangZone.md
  docs/scripting/functions/PlayerGangZoneDestroy.md
  docs/scripting/functions/PlayerGangZoneFlash.md
  docs/scripting/functions/PlayerGangZoneGetColour.md
  docs/scripting/functions/PlayerGangZoneGetFlashColour.md
  docs/scripting/functions/PlayerGangZoneGetPos.md
  docs/scripting/functions/PlayerGangZoneHide.md
  docs/scripting/functions/PlayerGangZoneShow.md
  docs/scripting/functions/PlayerGangZoneStopFlash.md
  docs/scripting/functions/UseGangZoneCheck.md
  docs/scripting/functions/UsePlayerGangZoneCheck.md
Owners: @openmultiplayer/web

update AddPlayerClass.md
  docs/scripting/functions/AddPlayerClass.md
Owners: @openmultiplayer/web

update AddPlayerClassEx.md
  docs/scripting/functions/AddPlayerClassEx.md
Owners: @openmultiplayer/web

update SetSpawnInfo.md
  docs/scripting/functions/SetSpawnInfo.md
Owners: @openmultiplayer/web

update EditPlayerClass.md
  docs/scripting/functions/EditPlayerClass.md
Owners: @openmultiplayer/web

fix #851
  docs/client/CrashAddresses.md
Owners: @openmultiplayer/web

Create PortForwarding.md
  docs/tutorials/PortForwarding.md
Owners: @openmultiplayer/web

Create sa-mp.cfg.md
  docs/client/sa-mp.cfg.md
Owners: @openmultiplayer/web

Create GetPlayerMarkerForPlayer.md
  docs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @openmultiplayer/web

Translate GetPlayerMarkerForPlayer.md in to Bosnian
  docs/translations/bs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate sa-mp.cfg.md in to Bosnian
  docs/translations/bs/client/sa-mp.cfg.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate PortForwarding.md in to Bosnian
  docs/translations/bs/tutorials/PortForwarding.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate anglemodes.md in to Bosnian
  docs/translations/bs/scripting/resources/anglemodes.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate boneid.md in to Bosnian
  docs/translations/bs/scripting/resources/boneid.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate bullethittypes.md in to Bosnian
  docs/translations/bs/scripting/resources/bullethittypes.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate callbacks-sequence.md in to Bosnian
  docs/translations/bs/scripting/resources/callbacks-sequence.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate cameracutstyles.md in to Bosnian
  docs/translations/bs/scripting/resources/cameracutstyles.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate cameramodes.md in to Bosnian
  docs/translations/bs/scripting/resources/cameramodes.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate clicksources.md in to Bosnian
  docs/translations/bs/scripting/resources/clicksources.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate Componentslots.md in to Bosnian
  docs/translations/bs/scripting/resources/Componentslots.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate spectatetypes.md in to Bosnian
  docs/translations/bs/scripting/resources/spectatetypes.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate recordtypes.md in to Bosnian
  docs/translations/bs/scripting/resources/recordtypes.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Add version warn to Bosnian translation of GetPlayerMarkerForPlayer.md
  docs/translations/bs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Add version warn to GetPlayerMarkerForPlayer.md
  docs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @openmultiplayer/web

Add better example to GetPlayerMarkerForPlayer.md
  docs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @openmultiplayer/web

Add a better example to the Bosnian translation of GetPlayerMarkerForPlayer.md
  docs/translations/bs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Translate the better example of GetPlayerMarkerForPlayer.md to Bosnian
  docs/translations/bs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Create GetPlayerMarkerForPlayer.md (#855) (resolve #854)
  docs/scripting/functions/GetPlayerMarkerForPlayer.md
  docs/translations/bs/scripting/functions/GetPlayerMarkerForPlayer.md
Owners: @openmultiplayer/web, @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Added GetPlayerMarkerForPlayer to related functions section in SetPlayerMarkerForPlayer.md
  docs/scripting/functions/SetPlayerMarkerForPlayer.md
Owners: @openmultiplayer/web

Add GetPlayerMarkerForPlayer to related functions in the Bosnian translation of SetPlayerMarkerForPlayer.md
  docs/translations/bs/scripting/functions/SetPlayerMarkerForPlayer.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4
