Repository openmultiplayer/web, changes with the owners that CODEOWNERS names for each.
All owners: @openmultiplayer/web, @iPollo, @ArTDsL, @pushline, @aktah, @rsetiawan7, @Aiuraa, @SanityZeroPercent, @andreieurt, @lilAmper, @Opysium, @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4, @TerzicScript, @XomoX, @sampben, @Woscript, @DestinyDragon49, @FreddieCrew, @MySekwel, @YuCarl77, @SumiHeart, @esh4ll0n, @ImOver00, @notxvy, @fusez

CODEOWNERS:

*                                                                               @openmultiplayer/web
/docs/translations/pt-BR/                                                       @iPollo @ArTDsL @pushline
/docs/translations/th/                                                          @aktah
/docs/translations/id/                                                          @rsetiawan7 @Aiuraa @SanityZeroPercent
/docs/translations/ro/                                                          @andreieurt
/docs/translations/tr/                                                          @lilAmper @Opysium
/docs/translations/bs/                                                          @NermanLegacy @daddyDOT @GalardoDev @remy-B4
/docs/translations/sr/                                                          @TerzicScript
/docs/translations/ph/                                                          @XomoX
/docs/translations/fr/                                                          @sampben
/docs/translations/es/                                                          @Woscript @DestinyDragon49 @FreddieCrew
/docs/translations/tl/                                                          @MySekwel
/docs/translations/zh-cn/                                                       @YuCarl77
/docs/translations/zh-tw/                                                       @SumiHeart
/docs/translations/sl/                                                          @esh4ll0n
/docs/translations/ar-TN/                                                       @ImOver00
/docs/translations/pl/                                                          @notxvy
docs/translations/sv/                                                           @fusez

Update SetPlayerFightingStyle.md
  docs/scripting/functions/SetPlayerFightingStyle.md
Owners: @openmultiplayer/web

update omp launcher version
  internal/config/config.go
Owners: @openmultiplayer/web

Update frontend/src/pages/index.tsx
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Update frontend/src/pages/index.tsx
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Typo Update index.tsx
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Update UsePlayerGangZoneCheck.md
  docs/scripting/functions/UsePlayerGangZoneCheck.md
Owners: @openmultiplayer/web

Update UseGangZoneCheck.md
  docs/scripting/functions/UseGangZoneCheck.md
Owners: @openmultiplayer/web

Add open.mp launcher download button (#799)
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Update index.tsx
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Remove samp button
  frontend/src/pages/index.tsx
Owners: @openmultiplayer/web

Delete download.tsx since rarely anyone knows the page and is unused
  frontend/src/pages/download.tsx
Owners: @openmultiplayer/web

Update config.json.md
  docs/server/config.json.md
Owners: @openmultiplayer/web

Update DisableInteriorEnterExits.md
  docs/scripting/functions/DisableInteriorEnterExits.md
Owners: @openmultiplayer/web

Update config.json.md
  docs/server/config.json.md
Owners: @openmultiplayer/web

Update OnPlayerRequestDownload.md
  docs/scripting/callbacks/OnPlayerRequestDownload.md
Owners: @openmultiplayer/web

Add download-requests.md
  docs/scripting/resources/download-requests.md
Owners: @openmultiplayer/web

Update GetWorldTime.md
  docs/scripting/functions/GetWorldTime.md
Owners: @openmultiplayer/web

Update SetWorldTime.md
  docs/scripting/functions/SetWorldTime.md
Owners: @openmultiplayer/web

Fix typo in the Bosnian translation of index.md
  docs/translations/bs/index.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Embed discord invite where Discord is mentioned in index.md
  docs/index.md
Owners: @openmultiplayer/web

Embed discord invite where discord is mentioned in BS translation of index.md
  docs/translations/bs/index.md
Owners: @NermanLegacy, @daddyDOT, @GalardoDev, @remy-B4

Replacec ar-TN with ar instead
  docs/translations/ar-TN/callbacks/OnGameModeExit.md
  docs/translations/ar-TN/callbacks/OnGameModeInit.md
  docs/translations/ar-TN/callbacks/OnPlayerConnect.md
  docs/translations/ar-TN/callbacks/OnPlayerDeath.md
  docs/translations/ar-TN/callbacks/OnPlayerDisconnect.md
  docs/translations/ar-TN/callbacks/OnPlayerSpawn.md
  docs/translations/ar-TN/functions/ChangeVehicleColor.md
  docs/translations/ar-TN/functions/ChangeVehiclePaintjob.md
  docs/translations/ar-TN/functions/GameModeExit.md
  docs/translations/ar-TN/functions/GetPlayerArmour.md
  docs/translations/ar-TN/functions/GetPlayerColor.md
  docs/translations/ar-TN/functions/GetPlayerHealth.md
  docs/translations/ar-TN/functions/SetPlayerArmour.md
  docs/translations/ar-TN/functions/SetPlayerColor.md
  docs/translations/ar-TN/functions/SetPlayerHealth.md
  docs/translations/ar/scripting/callbacks/OnActorStreamIn.md
Owners: @ImOver00, @openmultiplayer/web

Add ar to getLanguageName
  frontend/src/utils/getLanguageName.ts
Owners: @openmultiplayer/web

Translate OnActorStreamIn to Arabic
  docs/translations/ar/scripting/callbacks/OnActorStreamIn.md
Owners: @openmultiplayer/web

Update partnership program note
  frontend/src/pages/partners.tsx
Owners: @openmultiplayer/web

Change integer constants to boolean values
  docs/scripting/functions/TextDrawAlignment.md
  docs/scripting/functions/TogglePlayerClock.md
  docs/scripting/functions/TogglePlayerControllable.md
  docs/scripting/functions/TogglePlayerSpectating.md
Owners: @openmultiplayer/web

OnActorStreamOut in tunisian arabic
  docs/translations/ar-TN/callbacks/OnActorStreamOut.md
Owners: @ImOver00
